body {
  /*background-color: bisque;*/
  margin: 0;
  padding: 0;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-left-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-left-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-left-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.flex-right-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.flex-right-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.flex-right-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}